---
import Logo from "./Logo.astro";
import Breadcrumb from "./Breadcrumb.astro";
import UserAccountIcon from "./UserAccountIcon.astro";
---

<header class="bg-background border-b border-border flex items-center justify-between px-4 py-2 h-14">
  <div class="flex items-center">
    <Logo />
    <Breadcrumb />
  </div>
  <UserAccountIcon />
</header>
